<!DOCTYPE html>
<html>
  <head>
    <title>FoodFight</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>
  <body>
   <script>
      function scrollToIntro() {
        document.querySelector('#intro').scrollIntoView({ 
          behavior: 'smooth' 
        });
      }
    </script>
  <div id="fb-root"></div>
  
      <div class="header">
        <ul class="navbar">
          <li class="active"><a class="nav-link" href="/index">Join the Fight</a></li>
          <li><a class="nav-link" href="/about" id="">About Us</a></li>
          <li><a class="nav-link" href="#">Donate</a></li>
        </ul>
      </div>
      <div id="hero_image">
        <div id="centered">
	  <img class='desktopTitle' src='FF-title-1x.svg' />
	  <img class='mobileTitle' src='FF-title-mobile.svg' />
	  <h1>AGAINST HUNGER</h1>
          <button class='button joinButton' onclick="scrollToIntro()">Join the Fight</button>
        </div>
        <img class='desktopBG' src='FF-background-notext@2x.jpg' />
        <img class='mobileBG' src='FF-background-mobile@2x.jpg' />
      </div>
      <div id="intro">
        <p>Millions of people around the world live without secure access to food. You can help raise awareness of the problem by playing our game.</p>
      </div>
      <div id = "game_content">
      <%= yield -%>

    </div>
    

	<%= render "donation" %>
  </body>
</html>
